{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<!-- Static navbar -->
<div class="container p-3 my-3">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'learning_logs:index' %}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a>Hello, {{ user.username }}.</a></li>
            <li>&nbsp</li>
            <li><a href="{% url 'users:logout' %}" >Log out</a></li>
            {% else %}
            <li><a href="{% url 'users:register' %}" >Register</a></li>
            <li>&nbsp</li>
            <li><a href="{% url 'users:login' %}" >Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
    <div>&nbsp</div>
<div class="container">
    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div> <!-- /container -->
</div>
</body>
</html>
